.bg_primary-color {
    background-color: #FFFFFF;
}
.primary-color {
    background-color: #FFFFFF;
}
.custom-button.btn {
    background-color: #293241;
    color: #fff;
    border: none;
}
.custom-button.btn:hover {
    color: #fff !important;
    border: none;
}
.hero {
    width: 100vw;
    height: 50vh;
}
.hero img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}
.overlay {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

